<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='http://localhost:3000/socket.io/socket.io.js'></script>
    <script>
        var socket = io.connect('http://localhost:3000');
        var connected = false;
        var username = '';
        var questions;
        var answer;
        var currentQuestion;
        var userAnswer;

          socket.on('connect', function(){
            // nothing yet...
          });

          socket.on('newUserList', function(data){
            $(".connectedUsers").html('');
            $.each(data.userList, function(i, user){
              $(".connectedUsers").append("<div id='"+user.name+"'>"+user.name+"</div>");
            });
          });

        socket.on('updateUserList', function(data){
            if(data.connectionType ==  'add'){
              $(".connectedUsers").append("<div id='"+data.user+"'>"+data.user+"</div>");
            } else {
              $("#"+data.user).remove();
            }
        });
        
        socket.on('numPregunta', function(num){
            $(".show_index").fadeOut('slow', function(){
              question = get_question(num);
              $(".show_registered").fadeOut();  
              $(".show_questions").fadeIn('slow');
              $(".show_accepted").fadeOut();
            }); 
            get_question(num);
        });    
        
      socket.on('sendQuestions', function(data){
        console.log(data);
        questions = data.questions;
      });

      function get_question(number){
          var question = questions[number];
          $("#question_title").text("").text(question.question);
          $("#question_options").html("");
          $.each(question.choices, function(i, item){
            $("#question_options").append("<div><input type='radio' value='"+i+"' name='respuesta'/> "+item+"</div>");
          });
          answer = question.correctAnswer;
      }

      $(document).ready(function(){
        $('#btnJoin').on('click', function(){
            username = prompt("Introducir Nombre y Apellido");
            var regexp = /^\S/;
          if(regexp.test(username) != false && username != null){
            socket.emit('addUser', username);
            connected = true;
            $(".show_index").fadeOut('slow');
            $(".show_registered").fadeIn('slow'); 
          } else {
            alert("Introducir Nombre y Apellido!");
          }
        });
        
          $('#btnSend').on('click', function(){
              $(".show_questions").fadeOut('slow');
                $(".show_accepted").fadeIn('slow'); 
              userAnswer =  $('input[name=respuesta]:checked').val();
              if(answer == userAnswer)
                    socket.emit("addUserPoint", username);  
          });
        
      });

    </script>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='span12'>
          <h1>Crisis Economica en Grecia</h1>
        </div>
      </div>
      <div class='row'>
        <div class='span4'>
          <div class='well'>
            <h3>Estudiantes</h3>
            <div class='connectedUsers'>

            </div>
          </div>
        </div>
        <div class='span8'>
          <div class='hero-unit'>
              
            <div class="show_index">
              <h2>Bienvenido a la prueba interactiva</h2>
              <p>
                Vamos a ver cuanto sabes de Grecia y su situación economica
              </p>
              <button id='btnJoin' class='btn btn-primary'>Empieza!</button>
            </div>
              
            <div class='show_questions' style='display:none;'>
              <h2>Pregunta</h2>
              <div id='question'>
                <h3 id='question_title'></h3>
                <form id='answersForm'>
                    <div id='question_options'></div>
                </form>
                <button id='btnSend' class='btn btn-success'>Enviar Respuesta</button>
              </div>    
            </div>
              
            <div class='show_accepted' style='display:none;'>
              <h2>Pregunta Respondida</h2>
              <p>Atienda a la exposicion.</p> 
            </div>
              
            <div class='show_registered' style='display:none;'>
              <h2>Registrado</h2>
              <p>Espere a la primera pregunta.</p> 
            </div>
              
          </div>
        </div>
      </div>
    </div>
  </body>
</html>